<div class="loginWraper">
  <div class="loginLft animated fadeIn">
    <div class="loginTag">We grow when<br> our <span>Relationship</span> grow</div>
    <div class="loginImage">
      <img src="../../../assets/images/login-bg.png" alt="">
    </div>
  </div>
  <div class="loginRgt animated fadeInRight">
    <div class="dTable h-100 w-100">
      <div class="dTableCell h-100 align-middle">
        <div class="log-tablet">
          <div class="loginTag">We grow when<br> our <span>Relationship</span> grow</div>
          <div class="loginImage">
            <img src="../../../assets/images/login-bg.png" alt="">
          </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
