<!-- <nav id="sidebar" [ngClass]="{'active': _global.isNavBarActive==true}">
    <ul class="components text-uppercase">
      <li><a (click)="onClick('/dashboard')"><fa name="cog"></fa> Dashboard</a></li>
      <li><a (click)="onClick('/maintenance')"><fa name="cog"></fa> Maintenance</a></li>


      <li><a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"> <fa name="cog"></fa> Maintenance</a>
        <ul class="sideSubmenu" id="collapseExample" [ngbCollapse]="isCollapsed">
          <li><a href="javascript:void(0)">Dummy Page 1</a></li>
          <li><a href="javascript:void(0)">Dummy Page 2</a></li>
          <li><a href="javascript:void(0)">Dummy Page 3</a></li>
        </ul>
      </li>


      <li><a (click)="onClick('/masters/booking')"><fa name="cog"></fa> Booking</a></li>
      <li><a href="javascript:void(0)"><fa name="cog"></fa> Bills and Payments</a></li>
      <li><a href="javascript:void(0)"><fa name="cog"></fa> Social</a></li>
      <li><a href="javascript:void(0)"><fa name="cog"></fa> SOS</a></li>
      <li><a href="javascript:void(0)"><fa name="cog"></fa> Employee Management</a></li>
      <li><a href="javascript:void(0)"><fa name="cog"></fa> Poling and Survey</a></li>
      <li><a href="javascript:void(0)"><fa name="cog"></fa> Notice Board</a></li>
    </ul>
    <ul class="comOLinks">
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Help &amp; Support</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
  </nav> -->