<div class="tile clear">
  <div class="tile-heading">Change Passowrd</div>
  <form>
    <span class="ui-float-label form-group">
        <input id="password" name="password" type="password" pInputText minlength="6"> 
        <label for="password">Enter new Password</label>
    </span>
    <span class="ui-float-label form-group">        
        <input id="cpassword" name="cpassword" type="password" pInputText required minlength="6"> 
        <label for="cpassword">Confirm Password</label>
    </span>
  <div class="text-center">
    <button pButton type="submit" class="ui-button-rounded ttU minBtn" label="Change Password"></button>
  </div>
  </form>
</div>
